.p-datatable:not(.unstyled) {
  $header-padding-x: 0rem;
  $header-padding-y: 0rem;
  $header-content-padding: 0.5rem 1rem;

  .p-datatable {
    @apply shadow;
  }

  .p-datatable-tbody {
    tr {
      background: transparent;
    }

    tr:not(:last-child) {
      border-bottom: 1px solid #d9d9d9b0;
    }
  }

  .p-datatable-thead > tr > th {
    background: transparent;
    padding-top: #{$header-padding-y};
    padding-bottom: #{$header-padding-y};
    padding-left: 0;
    padding-right: 0;

    .p-column-header-content {
      padding: #{$header-content-padding};
      background: rgb(233, 233, 233);
      @apply shadow;
    }

    // background: rgb(233, 233, 233);
    &:first-child {
      padding-inline-start: #{$header-padding-x};

      .p-column-header-content {
        @apply rounded-l-full;
      }
    }

    &:last-child {
      padding-inline-end: #{$header-padding-x};

      .p-column-header-content {
        @apply rounded-r-full;
      }
    }
  }

  .p-paginator-bottom {
    .p-paginator {
      background: transparent;
      justify-content: flex-end;
      padding: 0;
      margin-top: 1rem;

      button {
        min-width: unset;
        width: 38px;
        height: 38px;
        padding: 0;
        border-radius: 4px;
        background: white !important;
        color: #9b9b9b;
        border: 1px solid #e9e9e9;
        margin: 0 0.3rem;

        &:first-child {
          margin-left: 0;
        }
        &:last-child {
          margin-right: 0;
        }

        &:hover {
          background: rgb(231, 231, 231) !important;
        }
      }

      .p-paginator-pages {
        margin: 0 0.5rem;
        button {
          background: #e9e9e9 !important;
          font-weight: bold;
          color: rgba(0, 0, 0, 0.568);

          &.p-highlight {
            background: var(--gradient) !important;
            color: white;
          }

          &:hover {
            background: rgb(218, 218, 218) !important;
          }
        }
      }
    }
  }
}
