/* @import './other.css'; */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// html.dark {
//   background: #121212;
//   color-scheme: dark;
// }

@font-face {
  font-family: 'ds-digi';
  src: url('/fonts/dsdigi.woff') format('woff');
}

@font-face {
  font-family: 'ds-digii';
  src: url('/fonts/dsdigii.woff2') format('woff2');
  font-style: oblique;
}

#nprogress {
  pointer-events: none;

  .bar {
    background: rgb(13, 148, 136);
    opacity: 0.75;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
}

button {
  color: white;
  padding: 0.6rem 1.2rem;
  justify-content: center;
  background: var(--gradient) !important;
}

button.primary {
  background: var(--gradient);
  color: rgb(233, 233, 233);
  transition: all 0.4s ease-out;
  clip-path: polygon(
    0 8px,
    /* Start from the upper left corner */ 8px 0,
    /* Upper left gap */ 100% 0,
    /* Top side */ 100% 0,
    /* Upper right corner */ 100% calc(100% - 8px),
    /* Right side */ calc(100% - 8px) 100%,
    /* Lower right gap */ 0 100%,
    /* Bottom side */ 0 100% /* Left side */
  );

  &.with-border {
    position: relative;

    &::after {
      content: attr(text);
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      inset: 2px;
      background: var(--home-background);
      clip-path: polygon(
        0 7px,
        /* Start from the upper left corner */ 7px 0,
        /* Upper left gap */ 100% 0,
        /* Top side */ 100% 0,
        /* Upper right corner */ 100% calc(100% - 7px),
        /* Right side */ calc(100% - 7px) 100%,
        /* Lower right gap */ 0 100%,
        /* Bottom side */ 0 100% /* Left side */
      );
    }
  }

  &:hover {
    clip-path: polygon(
      0 4px,
      /* Start from the upper left corner */ 4px 0,
      /* Upper left gap */ 100% 0,
      /* Top side */ 100% 0,
      /* Upper right corner */ 100% calc(100% - 4px),
      /* Right side */ calc(100% - 4px) 100%,
      /* Lower right gap */ 0 100%,
      /* Bottom side */ 0 100% /* Left side */
    );
  }

  &:active {
    opacity: 0.8;
  }
}

.divider {
  background: linear-gradient(
    90deg,
    rgba(0, 197, 222, 1) 0%,
    rgba(0, 20, 87, 1) 100%
  );
}

dl.details {
  & > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2.1875rem;
    & > dt {
      flex-shrink: 0;
      min-width: 8rem;
      display: inline-block;
      margin-right: 1rem;
    }
    & > dd {
      flex-grow: 1;
      display: inline;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

@import url(primevue/resources/themes/lara-light-blue/theme.css);
@import url(./datatable.scss);
